#################
## Specific
#################
mt4j-core/doc/
mt4j-desktop/doc/

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
MTMap/jwrapper-00036138363.jar
MTMap/jwrapper.log
MTMap/jwrapper.xml

*.obj